<!DOCTYPE html>
<html lang="кг">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Habits Tracker</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Habits Tracker</h1>
        <form method="POST" action="/add_habit" class="mb-4">
            <input type="text" name="habit_name" class="form-control" placeholder="Введите новую привычку" required>
            <button type="submit" class="btn btn-primary mt-2">Добавить</button>
        </form>

        <ul class="list-group">
            {% for habit in habits %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ habit.name }} - Progress: {{ habit.progress }}
                <form method="POST" action="/update_habit/{{ habit.id }}" class="ml-2">
                    <button type="submit" class="btn btn-success btn-sm">Выполнено</button>
                </form>
                <form method="POST" action="/delete_habit/{{ habit.id }}" class="ml-2">
                    <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-secondary mt-4">Вернуться в To-Do List</a>
    </div>
</body>

</html>