<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Вход в систему</h1>
        <form method="POST">
            <input type="text" name="username" class="form-control mt-2" placeholder="Имя пользователя" required>
            <input type="password" name="password" class="form-control mt-2" placeholder="Пароль" required>
            <button type="submit" class="btn btn-primary mt-2">Войти</button>
        </form>
        <a href="/register" class="btn btn-link mt-4">Зарегистрироваться</a>
    </div>
</body>

</html>